source "/home/philipbox/esp/esp-idf-v5.5.1/components/bootloader/Kconfig.projbuild"
source "/home/philipbox/esp/esp-idf-v5.5.1/components/esp_app_format/Kconfig.projbuild"
source "/home/philipbox/esp/esp-idf-v5.5.1/components/esp_rom/Kconfig.projbuild"
source "/home/philipbox/esp/esp-idf-v5.5.1/components/esptool_py/Kconfig.projbuild"
source "/home/philipbox/esp/esp-idf-v5.5.1/components/partition_table/Kconfig.projbuild"
source "/home/philipbox/easybridge-v2.9/lorabridge/main/Kconfig.projbuild"