# ESP32-S3 + E220 (оригинальная плата EasyBridge)
CONFIG_IDF_TARGET="esp32s3"
CONFIG_EB_BOARD_S3_E220=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
